html{
  font-size: 100%;
  box-sizing: border-box;

}

*, *::before, *::after{
  box-sizing: inherit;
}

h1{
  margin-bottom: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  margin-top: 50px;
  margin: 0;
  padding: 0;
  background-color: hsla(242, 95%, 16%, 0.87);
  color: #ffffff;
}

.container{
  margin-top: 9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.dataContainer{

  margin-top: 0.9375rem;
  width: 18.75rem;
  height: 9.375rem;
  background-color:#ffffff;
  color:#202020;
  border: 0.0625rem solid #ffffff;
  border-radius: 0.3125rem;
  box-shadow:0.3125rem 0.3125rem 0.3125rem rgba(68,68,68,0.6);

}

.headerContainer{
padding-top: 0.3125rem;
padding-left: 0.3125rem;
margin:0;
background-color: #202020;
width: 100%;
height: 1.875rem;
color: #ffffff;
font-weight: 500;
border-radius: 0.3125rem;

}

.innerDataContainer{
  margin-top: -0.625rem;
  padding: 0.3125rem;
  font-weight: 600;
}

input{
  font-size: 1rem;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  margin: 0.3125rem;
}

#error{
  display: none;
}